.main {
	padding-top: 60px;
	padding-inline: clamp(80px, 8vw, 160px);
	@media (max-width: 660px) {
		padding-inline: 16px;
		padding-top: 40px;
	}

	&__heading {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: 24px;
	}

	&__title {
		font-weight: 500;
		font-size: 60px;
		line-height: 100%;
		color: #000;
		@media (max-width: 660px) {
			font-weight: 500;
			font-size: 32px;
			line-height: 110%;
			color: #000;
		}
	}

	&__description {
		font-weight: 400;
		font-size: 32px;
		line-height: 110%;
		color: #202020;
		@media (max-width: 660px) {
			display: none;
		}
	}
}

.courses {
	padding-top: 50px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 40px;
	@media (max-width: 660px) {
		padding-top: 34px;
		justify-content: center;
	}
}
